<script src="../public/js/event.js"></script>
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="fw-bold text-center">{{event.title}}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{#if event.displayPicture}}
                            <img src="{{event.displayPicture}}" class="card-img-top" alt="{{event.title}}">
                            {{else}}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                class="card-img-top" alt="{{event.title}}">
                            {{/if}}
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Organizer: <a
                                        href="/user/{{organizer.username}}">{{organizer.firstName}}
                                        {{organizer.lastName}}</a></li>
                                <li class="list-group-item">Event Date: {{event.eventDate}}</li>
                                <li class="list-group-item">Event Time: {{event.eventTime}}</li>
                                <li class="list-group-item">Location: {{event.location}}</li>
                                <li class="list-group-item">Category: {{event.category}}</li>
                                <li class="list-group-item">Duration: {{event.duration}} minutes</li>
                                <li class="list-group-item">Remaining Seats:
                                    {{event.remainingSeats}}/{{event.maxCapacity}}</li>
                                <li class="list-group-item">Ratings:
                                    {{#if event.averageRating}}
                                    {{ event.averageRating }}/5
                                    {{else}}
                                    No ratings yet
                                    {{/if}}
                                </li>
                                <li class="list-group-item">Created At: {{event.createdAt}}</li>
                                <li class="list-group-item">Last Updated At: {{event.updatedAt}}</li>
                                {{#if user}}
                                {{#if userAttending}}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-danger rsvp-btn" data-event-id="{{event._id}}"
                                        data-action="cancel">Cancel RSVP</button>
                                </li>
                                {{else if (eq event.remainingSeats 0)}}
                                <li class="list-group-item">
                                    <div class="alert alert-danger" role="alert">
                                        This event is full!
                                    </div>
                                </li>
                                {{else}}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary rsvp-btn" data-event-id="{{event._id}}"
                                        data-action="rsvp">RSVP</button>
                                </li>
                                {{/if}}
                                {{else}}
                                <li class="list-group-item">
                                    <form method="get" action="/auth/login">
                                        <button type="submit" class="btn btn-primary">Login to RSVP!</button>
                                    </form>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <h5>Event Description:</h5>
                    <p>{{event.description}}</p>
                    {{#if event.photos}}
                    <hr>
                    <h5>Other Event Photos:</h5>
                    <div class="row">
                        {{#each event.photos}}
                        <div class="col-md-4 mb-3">
                            <img src="{{this}}" class="img-thumbnail" alt="Event Photo">
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>